/* Animación de web viniedo desde fuera de la pantalla a la izquierda hacia la web   */
@keyframes animacionTitulo {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Clase para la animación  desde fuera de la pantalla a la izquierda hacia la web  */
.titulo-animado {
  animation: animacionTitulo 0.5s ease-out;
}

/* Animación de web apareciendo lentamente */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Clase para la animación apareciendo lentamente  */
.animado {
  animation: aparecer 0.9s ease-out;
}

/* Animación de web  logo desde  desde centro hacia la izquierda de la pantalla*/
@keyframes animacionTituloIndex {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Clase para la animación desde  desde centro hacia la izquierda de la pantalla*/
.titulo-animado-index {
  animation: animacionTituloIndex 1s ease-out;
}
