// Importar el archivo SCSS de Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Estilo para navbar
@media screen and (min-width: 0px) {
  .gc-navbar-brand {
    width: 50px !important;
    height: auto !important;
  }
}
//imagen banner seccion index
.gc-qs-img-home {
  background-image: url(../img/proyecto-header-sm.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
//imagen banner seccion actividades, quienes somos y proyecto
.img-home-header-size {
  background-image: url(../img/home-lg.jpg);
  height: 25em;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  position: relative;
}

//card de quienes somos banner
.gc-qs-img-home-card {
  position: absolute;
  left: 2%;
  top: 30%;
  width: 60%;
  text-align: center;
  background: transparent;
  border: none;
  line-height: 30px;
}
//Estilos generales de todos los h
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
//Estilos especificos de h3
.h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}

//Estilos especificos de h6
.h6 {
  text-align: center;
}

//Estilos generales de todos los parrafos
.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
//Estilos especificos de p-2
.p-2 {
  background-color: #28a745 !important;
}

//Estilos especificos de p-3
.p-3 {
  padding: 1rem !important;
}

//Estilo para diseño responsivo hasta 1200 px
@media (min-width: 1200px) {
  .h3 {
    font-size: 1.75rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

div {
  display: block;
}
//Estilo especifico para las card de la web
.gc-footer-card {
  position: absolute;
  right: 2%;
  bottom: 5%;
  width: 450px;
  text-align: center;
  background: transparent;
  border: none;
}

.gc-texto-normal {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}

//Estilo especifico usado en paginas de inscripciones y pagina actividades
.gc-texto-resaltado {
  background-color: #3092fc;
}

//Estilo para slogan de footer
.gc-slogan {
  background-color: white;
}

//Estilo  para la lista de footer
.gc-footer-info ul {
  list-style: none;
}
//Estilo  para la lista de footer
.li {
  display: list-item;
}

//Estilo  generales para listas
.ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
//Estilo  generales para contenedores
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
//Estilo  especifico para parrafo del formulario del formulario de footer
.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d !important;
}
//Estulo para el titulo de el formulario de Inscripcion
.text-green {
  color: green;
}

//Color especifico para el footer Escribinos y para todos las gc-footer-card
.bg-color-green {
  background-color: #28a745 !important;
}
//Estilo  general para el footer
footer {
  background: #3c4146;
  color: white;
  padding: 40px;
}
